html, body {
      height: 100%;
      margin: 0;
      font-family: verdana, Geneva, Tahoma, sans-serif;
      background: #000000;
      overflow: hidden;
}
canvas {
      position: fixed;
      inset: 0;
      display: block;
      width: 100;
      height: 100%;
}
p {
    position: absolute;
    left: 12px;
    color: #ffdca8;
    bottom: 12px;
    font-size: 14px;
    margin: 0;
    text-shadow: 0 1px 6px rgba(0.5, 0, 0.5);
}
p a {
    color: #fff3d9;
    font-weight: 700;
    text-decoration: none;
}
p span {
    font-size: 20;
    color: #ffdca8;
    opacity: 0.9;
    margin-left: 8px;
}

h1 {
    font-size: 80px;
}


@media screen and (max-width: 600px) {
    h1 {
        font-size: 40px;
        word-wrap: break-word; 
    }
}
